[Desktop Entry]
Name=Kdenlive
Exec=/home/anurag/.program/kdenlive/kdenlive.appimage
Icon=/home/anurag/.program//kdenlive/kdenlive.png
Terminal=false
Type=Application
Categories=Media;
X-GNOME-UsesNotifications=true
